* {
  margin: 0;
  padding: 0;
}

body {
  color: #06863b;
  background-color: rgba(243, 235, 225, 0.863);
}

header {
  color: red;
  background-color: pink;
}

p {
  color: purple;
}

h2 {
  color: black;
}

.Titre {
  color: rgb(42, 54, 165);
}

.Titre2 {
  border-bottom: 1px solid #06863b;
}

#paragraphe {
  border: 1px solid white;
}

a {
  color: rgb(37, 167, 4);
  text-decoration: none;
}