@font-face {
  font-family: Roboto;
  src: url("../Fonts/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #06863b;
  background-color: rgba(243, 235, 225, 0.863);
  font-family: "Roboto", sans-serif;
}

header {
  color: red;
  background-color: pink;
}

p {
  color: purple;
}

h1, h2 {
  color: black;
  font-family: Arial, sans-serif;
  font-weight: 800;
  font-style: italic;
}

/* .Titre {
  color: rgb(42, 54, 165);
}

.Titre2 {
  border-bottom: 1px solid #06863b;
} */

#paragraphe {
  border: 1px solid white;
}

a:link {
  color: rgb(37, 167, 4);
  text-decoration: none;
}

a:visited {
  color: yellow;
}

a:hover {
  color: black;
  text-decoration: underline;
}

p:hover {
  color: black;
  background-color: white;
}

#Astronaute {
  width: 50%;
  display: block;
}